<% provide :title, t("static_page.home") %>

<div class="center jumbotron">
  <h1><%= t "static_page.intro_home" %></h1>
  <p><%= t "static_page.home_description" %></p>
  <% unless user_signed_in? %>
    <%= link_to t("static_page.sign_up"), new_user_registration_path, class: "btn btn-primary" %>
  <% end %>
</div>
