<h1><%= t "admin.new_book" %></h1>

<%= render "form" %>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <br>
    <%= link_to "Back", [:admin, :books]  %>
  </div>
</div>
