<table>
  <tr>
    <td><h3><%= t "favorite.suggest_books" %></h3></td>
    <td valign="bottom">
      <div id="suggest_books_expand" style="display: none;">
        <h4><span class="glyphicon glyphicon-triangle-bottom"></span></h4>
      </div>
      <div id="suggest_books_default">
        <h4><span class="glyphicon glyphicon-triangle-right"></span></h4>
      </div>
    </td>
  </tr>
</table>
<div class="col-md-12" id="suggest_books" style="display: none;">
  <%= render suggest_books %>
</div>
