<div class="row">
  <div class="bg-img">
    <div class="col-md-2" align="center">
      <br>
      <%= gravatar_for @user, size: Settings.user.gravantar_size150 %>
      <br><br>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <table class="table">
      <%= render "users/summary", user: @user %>
    </table>
  </div>
  <div class="col-md-10">
    <div class="container-fluid">
      <%= render @reading_books %>
    </div>
  </div>
</div>
