<table class="w100pc">
  <tr>
    <td>
      <h3 style="color: white" align="left">
        <strong><%= user.name.capitalize %></strong>
      </h3>
    </td >
    <td align="right">
      <% if can? :edit, user %>
         <a href="<%= edit_user_path(current_user.id) %>">
          <h3 style="color: white">
            <span class="glyphicon glyphicon-cog" align="right"></span>
          </h3>
        </a>
      <% end %>
    </td>
  </tr>
</table>
