%table.w100pc
  %tr
    %td
      %h3{:align => "left", :style => "color: white"}
        %strong= user.name.capitalize
    %td{:align => "right"}
      %h3{:style => "color: white"}
        %span.glyphicon.glyphicon-cog{:align => "right"}
