<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <%= search_form_for @search do |f| %>
          <div class="form-group">
            <%= f.text_field :name_cont, class: "form-control", id: "search_name",
              placeholder: t("user.name_contain")%>
          </div>
          <%= f.submit class: "btn btn-default" %>
        <% end %>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= sort_link(@search, :name) %></li>
      </ul>
    </div>
  </div>
</nav>
