<div class="col-xs-2">
  <br>
  <%= link_to gravatar_for(user, size: Settings.user.gravantar_size150),
    activities_path(user_id: user.id) %>
  <br>
  <h4><%= user.name.truncate Settings.user.max_string %></h4>
  <h6 class="color-gray-10">
    <table class="color-gray-8 w100pc">
      <%= render "users/summary", user: user %>
    </table>
  </h6>
</div>
