<div class="col-xs-2">
  <br>
  <%= link_to image_tag(book.picture_url, height: Settings.admin.books.picture_height, width: Settings.admin.books.picture_width), book %>
  <h6 class="color-gray-10"><%= render "books/summary", book: book %></h6>
</div>
