<div class="row">
  <div class="col-md-6">
    <% if current_user.added_favorite? @book %>
      <%= render "remove_favorite" %>
    <% else %>
      <%= render "add_favorite" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render "reading_button" %>
  </div>
  <div class="col-md-6">
    <%= render "shared/notice", type: "", notice: "" %>
  </div>
</div>
