<div class="rating">
  <div style="width:<%= (rating/Settings.number.count*100).round(Settings.number.round) %>%">
    <span class="glyphicon stars" title="<%= t "books.rating" %>: <%= rating %>"></span>
  </div>
</div>
