<div class="row">
  <div class="col-sm-6 col-md-8">
    <div class="caption">
      <h4><%= book.title.truncate(Settings.admin.books.max_string) %></h4>
      <p><%= book.author %></p>
      <%= render "star", rating: book.rate %>
    </div>
  </div>
</div>
