<h1><%= t "requests.edit_request" %></h1>

<%= render "form" %>
<br>
<div class="col-md-offset-1">
  <%= link_to t("feature.show"), [:admin, @request], class: "btn btn-primary"  %>
  <%= link_to t("feature.back"), admin_requests_path, class: "btn btn-primary" %>
</div>
