<h1>Dashboard Admin</h1>
<div class="row">
  <div class="col-xs-12" align="center">
    <%= link_to t("admin.user"), "#", class: "btn btn-primary btn-lg w150" %>&nbsp;&nbsp;
    <%= link_to t("admin.category"), "#", class: "btn btn-primary btn-lg w150" %>&nbsp;&nbsp;
    <%= link_to t("admin.book"), "#", class: "btn btn-primary btn-lg w150" %>&nbsp;&nbsp;
    <%= link_to t("admin.request"), "#", class: "btn btn-primary btn-lg w150" %>
  </div>
</div>
